<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST">
            <br>
            <label for="username"> </label>
            <input type="text" id="username" name="username" placeholder="Utilizador" required>
            <br>
            <label for="password"> </label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <br>
            <button type="submit">Entrar</button>
        </form>
        <p><a href="{{ url_for('reset_password') }}">Esqueceu sua senha?</a></p>
    </div>

    <script>
    // Exibe os pop-ups SweetAlert
    document.addEventListener('DOMContentLoaded', function () {
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                Swal.fire({
                    icon: "{{ category }}",  // Pode ser "success", "error", ou "warning"
                    title: "{{ 'Erro' if category == 'error' else 'Mensagem' }}",
                    text: "{{ message }}",
                });
            {% endfor %}
        {% endif %}
        {% endwith %}
    });
    </script>
</body>
</html>
