<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
        table {
            margin-top: 20px;
        }
    </style>
</head>
<body>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Canal Utilizado</th>
                <th>Indicativo/JID</th>
                <th>Localidade</th>
                <th>País</th>
                <th>Grupo</th>
                <th>Divisão</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for registo in registos %}
            <tr>
                <td>{{ registo['Canal utilizado'] }}</td>
                <td>{{ registo['JID'] }}</td>
                <td>{{ registo['Localidade'] }}</td>
                <td>{{ registo['País'] }}</td>
                <td>{{ registo['Grupo'] }}</td>
                <td>{{ registo['Divisão'] }}</td>
                <td>{{ registo['Timestamp'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer></footer>
</body>
</html>
