<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Localizações</title>
</head>
<body>
<h1>Bem-vindo ao sistema de localizações!</h1>

<ul>
    <li><a href="{{ url_for('introduzir_registo') }}">Introduzir Registo</a></li>
    <li><a href="{{ url_for('visualizar_conteudo') }}">Visualizar conteúdo do arquivo</a></li>
    <li><a href="{{ url_for('visualizar_mapa') }}">Visualizar Mapa</a></li>
    <li><a href="{{ url_for('exportar_pdf') }}">Exportar para PDF</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
</ul>

<!-- Conteúdo adicional do site principal -->
</body>
</html>
