body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Tom de cinza mais claro */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    padding: 20px 0;
}

header .logo img {
    height: 90px; /* Ajusta a altura da imagem para manter o tamanho do header */
}

nav {
    width: 100%; /* Faz o menu ocupar toda a largura da página */
    background-color: #2f7ac0; /* Cor de fundo azulada */
    padding: 10px 0; /* Aumenta o preenchimento superior e inferior da barra de navegação */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 25px; /* Aumenta o preenchimento dos itens do menu */
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1f5f90; /* Cor de fundo ao passar o mouse */
}

main {
    margin-top: 180px; /* Ajusta a margem superior para dar espaço ao logo e à barra de navegação fixa */
    padding: 20px;
}

main h1 {
    color: #2f7ac0; /* Título no tom azul semelhante ao da barra de navegação */
}

footer {
    background-color: #4b3a99;
    color: lightgrey;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
